/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Noto+Serif&display=swap');

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Noto Serif', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

img.necklace-pic {
	border: 10px;
	border-color: #85adad;
}

h1 {
	margin: 0 0 15px;
	font-size: 70px;
	font-family: 'Noto Serif', serif;
}

h1, h2 {
	color: #85adad;
}

.text {
	font-family: 'Crimson Text', serif;
}

/* Write all remaining styles here EDIT */
