/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Noto Serif', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 {
	margin: 20px;
	font-size: 100px;
}

/* Write all remaining styles here EDIT */
